@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

:root {
  --bg-color: #ffffff;
  --text-color: #0f172a;
}

.dark {
  --bg-color: #020617;
  --text-color: #f1f5f9;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: all 0.3s ease;
  margin: 0;
}

/* Scrollbar */
::-webkit-scrollbar { width: 6px; }
::-webkit-scrollbar-thumb { background: #3b82f6; border-radius: 10px; }